rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    match /users/{uid}/messages/{fileName} {
      allow read, write: if isOwner(uid);
    }

    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
