
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 20% 87%;
    --foreground: 210 10% 23%;
    --card: 210 20% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 20% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 52 80% 45%;
    --primary-foreground: 52 80% 5%;
    --secondary: 210 15% 95%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 15% 95%;
    --muted-foreground: 210 5% 65%;
    --accent: 22 70% 40%;
    --accent-foreground: 22 70% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --pro: 52 80% 45%;
    --pro-foreground: 52 80% 5%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 52 80% 45%;
    --radius: 0.5rem;
    --chart-1: 128 65% 42%;
    --chart-2: 28 95% 53%;
    --chart-3: 205 80% 35%;
    --chart-4: 210 30% 55%;
    --chart-5: 30 40% 50%;
    --status-active: 120 70% 50%;
    --neon-blue: 205 80% 55%;
    --neon-green: 128 65% 52%;

    --sidebar-background: 220 40% 15% / 0.9;
    --sidebar-foreground: 210 25% 85%;
    --sidebar-primary: 52 80% 45%;
    --sidebar-primary-foreground: 52 80% 95%;
    --sidebar-accent: 52 80% 22%;
    --sidebar-accent-foreground: 52 80% 98%;
    --sidebar-border: 220 40% 25%;
    --sidebar-ring: 52 80% 45%;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 210 20% 98%;
    --card: 210 10% 16%;
    --card-foreground: 210 20% 98%;
    --popover: 210 10% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 52 80% 45%;
    --primary-foreground: 52 80% 5%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 5% 65%;
    --accent: 22 70% 40%;
    --accent-foreground: 22 70% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --pro: 52 80% 45%;
    --pro-foreground: 52 80% 5%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 52 80% 45%;
    --radius: 0.5rem;
    
    --chart-1: 128 65% 42%;
    --chart-2: 28 95% 53%;
    --chart-3: 205 80% 40%;
    --chart-4: 210 40% 65%;
    --chart-5: 30 50% 60%;
    --status-active: 120 70% 50%;
    --neon-blue: 205 80% 55%;
    --neon-green: 128 65% 52%;

    --sidebar-background: 220 40% 15% / 0.9;
    --sidebar-foreground: 210 25% 85%;
    --sidebar-primary: 52 80% 45%;
    --sidebar-primary-foreground: 52 80% 95%;
    --sidebar-accent: 52 80% 22%;
    --sidebar-accent-foreground: 52 80% 98%;
    --sidebar-border: 220 40% 25%;
    --sidebar-ring: 52 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-semibold;
  }
}

@layer components {
    .interactive-pulse {
        background-image: linear-gradient(to right, hsl(var(--primary)), hsl(40 80% 50%), hsl(var(--primary)));
        background-size: 200% auto;
        animation: background-pan 3s linear infinite;
    }
}
