@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 20% 87%;
    --foreground: 24 10% 10%;
    --card: 50 20% 93%;
    --card-foreground: 24 10% 10%;
    --popover: 50 20% 93%;
    --popover-foreground: 24 10% 10%;
    --primary: 42 79% 43%;
    --primary-foreground: 42 79% 95%;
    --secondary: 50 15% 90%;
    --secondary-foreground: 24 10% 10%;
    --muted: 50 15% 90%;
    --muted-foreground: 24 5% 45%;
    --accent: 22 70% 40%;
    --accent-foreground: 22 70% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 50 15% 78%;
    --input: 50 15% 78%;
    --ring: 42 79% 43%;
    --chart-1: 42 79% 43%;
    --chart-2: 22 70% 40%;
    --chart-3: 180 40% 30%;
    --chart-4: 50 30% 55%;
    --chart-5: 300 40% 50%;
    --radius: 0.5rem;

    --sidebar-background: 30 15% 12%;
    --sidebar-foreground: 30 5% 80%;
    --sidebar-primary: 42 79% 43%;
    --sidebar-primary-foreground: 42 79% 95%;
    --sidebar-accent: 30 15% 22%;
    --sidebar-accent-foreground: 30 5% 98%;
    --sidebar-border: 30 15% 20%;
    --sidebar-ring: 42 79% 43%;
  }

  .dark {
    --background: 20 12% 8%;
    --foreground: 20 5% 95%;
    --card: 20 12% 12%;
    --card-foreground: 20 5% 95%;
    --popover: 20 12% 8%;
    --popover-foreground: 20 5% 95%;
    --primary: 42 79% 43%;
    --primary-foreground: 42 79% 95%;
    --secondary: 20 12% 15%;
    --secondary-foreground: 20 5% 95%;
    --muted: 20 12% 15%;
    --muted-foreground: 20 5% 65%;
    --accent: 22 70% 50%;
    --accent-foreground: 22 70% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 12% 20%;
    --input: 20 12% 20%;
    --ring: 42 79% 53%;
    
    --chart-1: 42 79% 43%;
    --chart-2: 22 70% 50%;
    --chart-3: 180 50% 40%;
    --chart-4: 50 40% 65%;
    --chart-5: 300 50% 60%;

    --sidebar-background: 20 12% 8%;
    --sidebar-foreground: 20 5% 85%;
    --sidebar-primary: 42 79% 43%;
    --sidebar-primary-foreground: 42 79% 95%;
    --sidebar-accent: 20 12% 18%;
    --sidebar-accent-foreground: 20 5% 98%;
    --sidebar-border: 20 12% 15%;
    --sidebar-ring: 42 79% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
