@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 10% 23%;
    --card: 210 20% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 20% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 45 93% 47%;
    --primary-foreground: 45 93% 5%;
    --secondary: 210 15% 95%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 15% 95%;
    --muted-foreground: 210 5% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 45 93% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --pro: 45 93% 47%;
    --pro-foreground: 45 93% 5%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 45 93% 47%;
    --chart-1: 128 65% 42%;
    --chart-2: 28 95% 53%;
    --chart-3: 205 80% 35%;
    --chart-4: 210 30% 55%;
    --chart-5: 30 40% 50%;
    --radius: 0.5rem;

    --sidebar-background: 205 85% 15%;
    --sidebar-foreground: 210 25% 85%;
    --sidebar-primary: 128 65% 42%;
    --sidebar-primary-foreground: 128 65% 95%;
    --sidebar-accent: 205 80% 22%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 205 80% 20%;
    --sidebar-ring: 128 65% 42%;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 210 20% 98%;
    --card: 210 10% 16%;
    --card-foreground: 210 20% 98%;
    --popover: 210 10% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 45 93% 47%;
    --primary-foreground: 45 93% 5%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 5% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 45 93% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --pro: 45 93% 47%;
    --pro-foreground: 45 93% 5%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 45 93% 47%;
    
    --chart-1: 128 65% 42%;
    --chart-2: 28 95% 53%;
    --chart-3: 205 80% 40%;
    --chart-4: 210 40% 65%;
    --chart-5: 30 50% 60%;

    --sidebar-background: 205 85% 15%;
    --sidebar-foreground: 210 25% 85%;
    --sidebar-primary: 128 65% 42%;
    --sidebar-primary-foreground: 128 65% 95%;
    --sidebar-accent: 205 80% 22%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 205 80% 20%;
    --sidebar-ring: 128 65% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
